@import "tailwindcss";
@import '@fontsource/poppins/400.css'; /* Regular */
@import '@fontsource/poppins/500.css'; /* Medium */
@import '@fontsource/poppins/600.css'; /* Semi-bold */
@import '@fontsource/poppins/700.css'; /* Bold */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: scroll; /* Prevent horizontal scrolling */
    font-family: 'Poppins', sans-serif;
  }